@foreach (var item in Model.Categories)
{
    <div class="form-control btn d-flex justify-content-start" id="@item.Id" 
         onmouseover="overCategoryBtn(@item.Id)" 
         onmouseout="outOfCategoryBtn(@item.Id)"
         onclick="clickCategoryBtn(@item.Id)">
        @item.CategoryName
    </div>
}

