<div class="OneDeclaration" id="@Model.Id">
    <img class="card-img rounded float-left card-body" style="width:9rem;" src="@Model.ImagePath" alt="" id="@Model.Id" />
    <div class="card border-top-0 border-left-0 border-right-0 rounded-0 pb-2 mb-3" style="max-width:30rem;">
        <div id="@Model.Id" class="card-body preview p-0">
            <div class="flex-row d-flex">
                <h5 class="card-title pt-2 pl-2 col col-8">@Model.Title</h5>
                <span class="card-title col col-4 d-flex justify-content-end pr-2" id="statusName_@Model.Id">@Model.StatusName</span>
                <div class="declarationStatus" id="@Model.StatusId" hidden></div>
            </div>
            <div class="flex-row d-flex">
                <span id="@Model.CategoryId" class="declarationCategory text-black-50 pl-2">@Model.CategoryName</span>
            </div>
            <div class="flex-row d-flex pt-2">
                @if (Model.CategoryName == "В дар" || (Model.Price == 0 && Model.CategoryName != "В дар"))
                {
                    <span class="h4 pl-2">Бесплатно</span>
                }
                @if (Model.CategoryName != "В дар" && Model.Price != 0)
                {
                    <span class="h4 pl-2">@Model.Price BYN</span>
                }
            </div>
            <div class="flex-row-reverse card-footer bg-white p-0 border-0 pt-3">
                <span class="text-black-50 pl-2">@Model.AuthorMail</span>
                <span class="text-black-50 d-flex declarationDate float-right pr-2" id="@Model.Date">@Model.Date</span>
            </div>
        </div>
    </div>
</div>
