@model AddDeclarationViewModel
<div class="container">
    <!--блок о товаре-->
    <div class="row mt-sm-5">
        <h3>Редактирование объявления</h3>
    </div>
    <div class="row mt-sm-4">
        <div class="form-group col-8 col-sm-7 col-md-6" role="group">
            <h4 class="mb-sm-3">Фотография</h4>
            <div class="card" style="max-width:33rem;">
                <div class="card-body">
                    <div class="row ml-2">
                        <form id="uploadDeclarPhotoForm" method="post" enctype="multipart/form-data"
                              asp-action="UploadImage" asp-controller="Image">
                            <input type="button" value="Изменить фотографию" class="btn btn-primary"
                                   id="uploadDeclarPhoto" onclick="openFileFolder()" />
                            <input type="file" id="openFolder" hidden />
                        </form>

                        <input type="button" class="btn btn-primary none mr-4" id="showDeclarPhoto" value="Загрузить"
                               onclick="showDeclarPhoto()" onmouseout="" onmouseover="" />

                        <input type="button" class="btn btn-secondary none mr-3" id="abortDeclarImgUpdateBtn" value="Отмена"
                               onclick="abortDeclarImgUpdateBtn()" onmouseout="" onmouseover="" />

                    </div>
                    <div class="mt-sm-2 text-dark font-weight-normal">Используйте только реальные фото вашего товара!</div>
                </div>
            </div>
            <div class="col col-4 mt-3" id="declarPhoto">
                <img src="@Model.ImagePath" style="height:5rem;width:5rem;"/>
            </div>
        </div>
    </div>
    <hr class="col-8 col-sm-7 col-md-6 m-0 mt-md-2 mb-md-3" />
    <form asp-action="UpdateDeclaration" asp-controller="Declaration" method="post" id="EditDeclarForm" onsubmit="return checkNewDeckarForValid()">
        <input type="text" id="@Model.AuthorId" asp-for="AuthorId" class="declarAuthorId" hidden />
        <input type="text" name="declarImgPath" value="@Model.ImagePath" id="sendImageToModel" hidden />
        <div class="row mt-sm-4">
            <div class="form-group col-8 col-sm-7 col-md-6" role="group">
                <label for="declar_title" class="font-weight-bold">Название товара *</label>
                <input type="text" id="declar_title" placeholder="Например, кот-засранец" asp-for="Title" class="form-control" aria-describedby="declTitleError" />
                <span id="declTitleError" class="text-danger"></span>
            </div>
        </div>
        <div class="row mt-sm-3">
            <div class="form-group col-8 col-sm-7 col-md-6">
                <label for="category_choose" class="font-weight-bold">Выбор категории *</label>
                <div class="card" id="category_choose" aria-describedby="declarCategoryError">
                    <input type="text" id="@Model.CategoryId" class="showOldCategory" hidden data-onload="showCategoryColor()" />
                    <div class="card-body">
                        @Html.Partial("_CategoryList")
                    </div>
                    <input type="text" id="choosenCategoryId" name="category" hidden />
                </div>
                <span id="declarCategoryError" class="text-danger"></span>
            </div>
        </div>
        <div class="row d-flex justify-content-start ml-5">
            <div class="col col-3">
                <div class="row">
                    <div class="col-3" style="background-color:#e6940f;">&emsp;</div>
                    <div class="col-9"> - текущая</div>
                </div>
            </div>
            <div class="col col-3">
                <div class="row">
                    <div class="col-3" style="background-color:#59bbf4;">&emsp;</div>
                    <div class="col-9"> - измененная</div>
                </div>
            </div>
        </div>
        <div class="row mt-sm-3">
            <div class="form-group col-8 col-sm-7 col-md-6" role="group">
                <label for="declar_description" class="font-weight-bold">Описание *</label>
                <textarea class="form-control" id="declar_description" asp-for="Description" rows="4" aria-describedby="declDescrError"></textarea>
                <span id="declDescrError" class="text-danger"></span>
            </div>
        </div>
        <hr class="col-8 col-sm-7 col-md-6 m-0 mt-md-3 mb-md-3" />
        <!--блок о цене-->
        <h4 class="mt-sm-2 mb-sm-3">Цена *</h4>
        <div class="row mt-sm-3">
            <div class="form-group col-8 col-sm-7 col-md-6">
                <div class="btn-group btn-group-toggle col-12 p-0 mb-2" role="group" data-toggle="buttons">
                    <button type="button" id="pricedProduct" class="btn" onmousedown="checkForPrice()"
                            style="background-color:#4cd4a9; color:white;border-color:#4cd4a9;">
                        Цена
                    </button>
                    <button type="button" id="freeProduct" class="btn" onmousedown="checkForFree()"
                            style="background-color:white; color:#4cd4a9; border-color:#4cd4a9;">
                        Бесплатно
                    </button>
                </div>
                <div class="form-row pl-1" id="priceInputLabel">
                    <input class="form-control mt-3 col-8" id="inputPrice" type="text" placeholder="Например, 99.95" asp-for="Price" aria-describedby="declarPriceError" />
                    <label for="inputPrice" class="text-justify col-2 text-center my-4">BYN</label>
                    <span id="declarPriceError" class="text-danger mt-4"></span>
                </div>
            </div>
        </div>
        <hr class="col-8 col-sm-7 col-md-6 m-0 mt-md-1 mb-1" />
        <!--завершить оформление-->
        <input type="text" id="@Model.Id" class="declarationId" hidden />
        <input type="text" id="editDeclarationId" name="id_for_declar" hidden />
        <div class="row mt-sm-3 col-8 col-sm-7 col-md-6">
            <input type="submit" class="btn btn-success col-6" id="successEditDeclaration" value="Сохранить изменения" onclick="saveAdAchanges()"/>
        </div>
    </form>
</div>

<script src="~/js/edit_ad.js" asp-append-version="true"></script>