@model OneDeclarationViewModel
<div class="container">
    <div class="form-inline">
        <img src="@Model.ImagePath" style="width:25rem;height:20rem;" id="@Model.Id" />
        <div class="card border-0" style="width:30rem;height:20rem;">
            <div class="card-body">
                <h3 class="card-title titleDecl" id="@Model.Title">@Model.Title</h3>
                <div class="row mt-4">
                    <div class="col-7">Статус:</div>
                    <div class="col-5">@Model.StatusName</div>
                </div>
                <div class="row mt-4">
                    <div class="col-7">Цена:</div>
                    @if (Model.CategoryName == "В дар" || (Model.Price == 0 && Model.CategoryName != "В дар"))
                    {
                        <div class="col-5">Бесплатно</div>
                    }
                    @if (Model.CategoryName != "В дар" && Model.Price != 0)
                    {
                        <div class="col-5">@Model.Price BYN</div>
                    }
                </div>
                <div class="row mt-4">
                    <div class="col-7">Категория:</div>
                    <div class="col-5">@Model.CategoryName</div>
                </div>
                <div class="row mt-2 p-0 declarActions" id=@Model.Id>
                    @if (Model.StatusId == 1 && (User.Identity.Name == Model.AuthorMail || User.IsInRole("Admin")))
                    {
                        <div class="card-columns d-flex" style="height:2.6rem;">
                            <form method="get" asp-action="Edit" asp-controller="Declaration">
                                <input type="text" name="declarId" id="declar_Id" hidden />
                                <input type="submit" id="@Model.Id" class="btn btn-warning EditDeclarationBtn mr-2 ml-2"
                                       onclick="sendDeclarId()" value="Редактировать" />
                            </form>
                        </div>
                    }
                    @if (User.IsInRole("Admin"))
                    {
                        <div class="card-columns d-flex" style="height:2.5rem;">
                            <input type="button" id="@Model.Id" class="btn btn-danger RemoveDeclFromDbBtn ml-2"
                                   data-toggle="modal" data-target="#DeclarDeleteFromDbDlg" value="Удалить" onclick="deleteFromDb()" />
                        </div>
                    }
                </div>
            </div>
            <div class="card-footer bg-white border-0" style="height:4rem;">
                <div class="row d-flex mt-3" style="height:3rem;">
                    <div class="text-black-50">@Model.Date</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row d-flex mt-3">
        <div class="card border-0" style="max-width:45rem;">
            <div class="card-body">
                <h4 class="card-title">Описание</h4>
                <div>@Model.Description</div>
            </div>
        </div>
    </div>
    <div class="row d-flex mt-3">
        <div class="card border-0 border-bottom" style="width:32rem;">
            <div class="card-body">
                <h4 class="card-title">О продавце</h4>
                <div class="row">
                    <div class="col col-4 p-0">
                        <img src="@Model.User.ImagePath" class="card-img" style="width:8rem;height:6rem;" />
                    </div>
                    <div class="col col-8 p-0">
                        <div class="row">
                            <div class="col-4 p-0">E-Mail:</div>
                            <div class="col-8 p-0">@Model.AuthorMail</div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-4 p-0">Телефон:</div>
                            <div class="col-8 p-0">@Model.User.Phone</div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-4 p-0">Имя:</div>
                            <div class="col-8 p-0">@Model.User.Name</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="DeclarDeleteFromDbDlg" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <h4 class="modal-title text-center">! ВНИМАНИЕ !<br />Вы действительно хотите <br />удалить объявление?</h4>
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <div class="row justify-content-around">
                    <input id="DeleteThisDeclarFromDb" class="btn btn-danger mr-4" data-dismiss="modal" type="button" value="Да" />
                    <input class="btn btn-dark ml-4" data-dismiss="modal" type="button" value="Нет" />
                    <form id="DeleteDeclarFromDbForm" method="post" asp-action="RemoveDeclarFromDb" asp-controller="Declaration">
                        <input id="DeleteDeclarId" type="text" name="id_db" hidden>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
