@model OneDeclarationViewModel
    <div class="container">
        @*  d-flex justify-content-center *@
    <div class="row d-flex" style="height:25rem;">
        <img src="~/images/google.jpg" style="width:25rem;" />
        <div class="card" style="width:25rem;">
            <div class="card-body">
                <h3 class="card-title">@Model.Title</h3>
                <div class="row mt-4">
                    <div class="col-7">Статус:</div>
                    <div class="col-5">@Model.StatusName</div>
                </div>
                <div class="row mt-4">
                    <div class="col-7">Цена:</div>
                    @if (Model.CategoryName == "В дар" || (Model.Price == 0 && Model.CategoryName != "В дар"))
                    {
                        <div class="col-5">Бесплатно</div>
                    }
                    @if (Model.CategoryName != "В дар" && Model.Price != 0)
                    {
                        <div class="col-5">@Model.Price BYN</div>
                    }
                </div>
                <div class="row mt-4">
                    <div class="col-7">Категория:</div>
                    <div class="col-5">@Model.CategoryName</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row d-flex mt-1" style="height:3rem;">
        <div class="card border-0" style="max-width:15rem;">
            <div class="card-body">
                <div class="text-black-50">@Model.Date</div>
            </div>
        </div>
    </div>
    <div class="row d-flex mt-3">
        <div class="card border-0" style="max-width:49rem;">
            <div class="card-body">
                <h4 class="card-title">Описание</h4>
                <div>@Model.Description</div>
            </div>
        </div>
    </div>
    <div class="row d-flex mt-3">
        <div class="card border-0" style="width:30rem;">
            <div class="card-body">
                <h4 class="card-title">О продавце(потом сделать карточку с частичным представлением)</h4>
                <div class="row">
                    <div class="col-4">E-Mail:</div>
                    <div class="col-8 p-0">@Model.AuthorMail</div>
                </div>
                <div class="row">
                    <div class="col-4">Телефон:</div>
                    <div class="col-8 p-0">@Model.AuthorMail</div>
                </div>
                <div class="row">
                    <div class="col-4">Имя:</div>
                    <div class="col-8 p-0">@Model.AuthorMail</div>
                </div>
            </div>
        </div>
    </div>
</div>
