@model UserViewModel

<div class="card" style="max-width:40rem;">
    <div class="card-body p-4">
        <h4 div class="card-title">Загрузите вашу фотографию</h4>
        <div class="row mt-4">
            <div class="col-sm-4" id="userAvatar">
                <img src="@Model.ImagePath" style="height:10rem;width:10rem;" />
            </div>
            <div class="col-sm-8">
                <form id="uploadUserPhotoForm" method="post" enctype="multipart/form-data"
                      asp-action="UploadImage" asp-controller="Image">
                    <input type="button" id="uploadUserPhoto" onclick="openFilesFolder()"
                           onmouseout="changePhDwnlBtn(false)" onmouseover="changePhDwnlBtn(true)"
                           class="btn btn-warning pl-5 pr-5 mt-1" value="Выбрать фотографию">
                    <input type="file" id="openFolder" hidden />
                </form>
                <div class="row ml-1">
                    <input type="button" class="btn btn-primary none mt-4 mr-4" id="showUserPhoto" value="Загрузить"
                           onclick="showUserPhoto()" onmouseout="uploadPhotoBtn(false)" onmouseover="uploadPhotoBtn(true)" />
                    <form method="post" asp-controller="User" asp-action="UpdateProfileImage" id="saveUserPhotoForm">
                        <input type="text" name="user.ImagePath" id="sendPhotoToModel" hidden />
                        <input type="text" name="user.Id" value="@Model.Id" hidden />
                        <input type="button" id="saveUserPhotoBtn" value="Сохранить" class="btn btn-success none mt-4 ml-4"
                               onclick="saveUserPhotoAction()" onmouseout="savePhotoBtn(false)" onmouseover="savePhotoBtn(true)" />
                    </form>
                </div>
                <div class="row ml-1">
                    <input type="button" class="btn btn-secondary none mt-3" id="abortPhotoUpdateBtn" value="Отмена"
                           onclick="abortPhotoUpdate()" onmouseout="" onmouseover="" />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card mt-3" style="max-width:40rem;">
    <div class="card-body p-4">
        <h4 div class="card-title">Персональные данные</h4>

        <form method="post" asp-action="UpdateUser" asp-controller="User" id="userUpdateForm">
            <div class="row mt-4">
                <div class="col-6">
                    <div class="form-group">
                        <label for="userName" class="h6">Имя *</label>
                        <div id="userName" class="currentData">@Model.Name</div>
                        <div>
                            <input type="text" class="profileInput none form-control" id="changeUserName"
                                   name="user.Name" value=@Model.Name aria-describedby="userNameError">
                            <small id="userNameError" class="text-danger"></small>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="userSurname" class="h6">Фамилия *</label>
                        <div id="userSurname" class="currentData">@Model.Surname</div>
                        <div>
                            <input type="text" class="profileInput none form-control" id="changeUserSurname"
                                   name="user.Surname" value=@Model.Surname aria-describedby="userSurnameError">
                            <small id="userSurnameError" class="text-danger"></small>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-12">
                    <div class="form-group">
                        <label for="userMail" class="h6">E-Mail</label>
                        <div id="userMail">@Model.EMail</div>
                    </div>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-12">
                    <div class="form-group">
                        <label for="userPhone" class="h6">Телефон</label>
                        @if (Model.Phone == null)
                        {
                            <div id="userPhone" class="currentData">Не указан</div>
                        }
                        @if (Model.Phone != null)
                        {
                            <div id="userPhone" class="currentData">@Model.Phone</div>
                        }
                        <div>
                            <input type="text" class="profileInput none form-control" id="changeUserPhone"
                                   name="user.Phone" value=@Model.Phone aria-describedby="userPhoneError">
                            <small id="userPhoneError" class="text-danger"></small>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-6">
                    <div class="form-group">
                        <label for="isUserActive" class="h6">Статус</label>
                        @if (Model.IsActive)
                        {
                            <div id="isUserActive" class=" ">Активен</div>
                        }
                        @if (!Model.IsActive)
                        {
                            <div id="isUserActive" class=" ">Заблокирован</div>
                        }
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="userRole" class="h6">Роль</label>
                        @if (Model.Role == "Admin")
                        {
                            <div id="userRole" class=" ">Администратор</div>
                        }
                        @if (Model.Role == "User")
                        {
                            <div id="userRole" class=" ">Пользователь</div>
                        }
                    </div>
                </div>
            </div>

            <div class="row mt-1">
                <div class="col-6">
                    <input type="button" id="updateUserProfileBtn" 
                           onmouseout="changeEditUserBtn(false)" onmouseover="changeEditUserBtn(true)"
                           class="btn btn-warning pl-4 pr-4" value="Изменить" onclick="updateUserAction()" />
                    <input type="button" id="saveUserProfileChangesBtn" value="Сохранить" class="btn btn-success none pl-4 pr-4" />
                </div>
            </div>
        </form>

    </div>
</div>