@model PersonalAreaViewModel
<div class="container col col-sm-3 float-left">
    <div class="card border-0 align-items-center navbar-collapse 
         collapse d-md-inline-flex border-bottom border-top rounded-0" 
         style="width:15rem;z-index:1;">
        <div class="card-body p-0">
            <div class="form-group mb-0">
                <button type="button" id="myProfile"
                        class="form-control d-flex justify-content-center border-0 mb-2 mt-2"
                        onclick="myProfile()">
                    Мой профиль
                </button>
                <hr class="p-0 m-0"/>
                <button type="button" id="myDeclarations"
                        class="form-control d-flex justify-content-center border-0 mb-2"
                        onclick="myAds()">
                    Мои объявления
                </button>
                @if (User.IsInRole("Admin"))
                {
                    <hr class="p-0 m-0"/>
                    <button type="button" id="deletedDeclarations" style="height:4rem;"
                            class="form-control d-flex justify-content-center border-0 mb-2"
                            onclick="removedByUsersAds()">
                        Удаленные пользователями объявления
                    </button>
                }
            </div>
        </div>
    </div>
</div>
<div class="container col col-sm-9 float-right">

    <div class="card rounded-0" id="userPersonalAreaCard">
        <div class="card-body">
            <div class="row d-flex justify-content-center">
                <h3 class="font-weight-normal">Привет,</h3>
                <div class="h3 text-uppercase pl-2">@Model.UserName</div>
            </div>
            <div class="row d-flex justify-content-center mt-3">
                <img src="@Model.ImagePath" class="rounded" style="height:10rem;width:13rem;" />
            </div>
            <div class="h4 mt-4 mb-4 pl-3">Подробная информация</div>
            <div class="row pl-3 d-flex justify-content-center">
                <div class="col col-4">
                    Всего объявлений
                </div>
                <div class="col col-8">
                    @Model.AllDeclarationsCount
                </div>
            </div>
            <div class="row mt-2 pl-3 d-flex justify-content-center">
                <div class="col col-4">
                    Продано товаров
                </div>
                <div class="col col-8">
                    @Model.SoldDeclarationsCount
                </div>
            </div>
            <div class="row mt-2 pl-3 d-flex justify-content-center">
                <div class="col col-4">
                    Дата последнего изменения
                </div>
                <div class="col col-8">
                    <div>@Model.LastDateOfEdit</div>
                </div>
            </div>
            <div class="row mt-2 pl-3 d-flex justify-content-center">
                <div class="col col-4">
                    Дата регистрации
                </div>
                <div class="col col-8">
                    <div>@Model.RegistrationDate</div>
                </div>
            </div>
        </div>
    </div>

    <div id="myProfileAction"></div>
    <div id="myDeclarationAction"></div>
    <div id="deletedDeclarationAction"></div>
</div>

<div id="DeclarationDeleteDialog" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <h4 class="modal-title text-center">Вы действительно хотите <br />изменить статус объявления на "Удалено"?</h4>
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <div class="row justify-content-around">
                    <input id="RemoveThisDeclaration" class="btn btn-danger mr-4" 
                           data-dismiss="modal" type="button" value="Да" />
                    <input class="btn btn-dark ml-4" data-dismiss="modal" type="button" value="Нет"/>
                    <form id="RemoveDeclarationForm" method="post" asp-action="RemoveDeclaration" asp-controller="Declaration">
                        <input id="RemoveDeclarationId" type="text" name="id" hidden>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="DeclarDeleteFromDbDlg" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <h4 class="modal-title text-center">! ВНИМАНИЕ !<br />Вы действительно хотите <br />удалить объявление?</h4>
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <div class="row justify-content-around">
                    <input id="DeleteThisDeclarFromDb" class="btn btn-danger mr-4" data-dismiss="modal" type="button" value="Да" onclick="testRemove()"/>
                    <input class="btn btn-dark ml-4" data-dismiss="modal" type="button" value="Нет" />
                    <form id="DeleteDeclarFromDbForm" method="post" asp-action="RemoveDeclarationFromDb" asp-controller="Declaration">
                        <input id="DeleteDeclarId" type="text" name="id_db" hidden>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/user_area.js" asp-append-version="true"></script>