@model IEnumerable<UserViewModel> 

<div class="container">
    @ViewBag.ErrorMessage
    <form id="UpdateUserForm" asp-action="UpdateUser" asp-controller="Administration" method="post">
        @foreach (var item in Model)
        {
            <div class="card UserData" id="@item.Id" style="width:43rem;">
                @Html.Partial("_User",item)
            </div>
        }
    </form>
    @*<form asp-action="RemoveUser" asp-route-Id="@item.Id" method="post">
        <a asp-action="EditUser" asp-route-Id="@item.Id" class="btn btn-info">Изменить</a>

        <span id="deleteSpan_@item.Id" class="">
            <a href="#" class="btn btn btn-danger"
                onclick="confirmToRemove('@item.Id',true)">Удалить</a>
        </span>

        <span id="confirmDeleteSpan_@item.Id" class="d-none">
            <span>Подтверждаете свои действия?</span>
            <button type="submit" class="btn btn-danger">Да</button>
            <a href="#" class="btn btn-primary"
                onclick="confirmToRemove('@item.Id',false)">Нет</a>
        </span>
    </form>*@
</div>

<form id="InputUser" asp-action="UpdateUserInput" asp-controller="Administration" method="post">
    <input id="InputStringId" type="text" name="id" hidden>
</form>
<form id="DeleteUserForm" asp-action="RemoveUser" asp-controller="Administration" method="post">
    <input id="DeleteUserId" type="text" name="id" hidden>
</form>
<form id="BlockUserForm" asp-action="ChangeUserStatus" asp-controller="Administration" method="post">
    <input id="BlockUserId" type="text" name="id" hidden>
</form>